     <!-- ========================= SECTION INTRO ========================= -->
     <section class="section-intro">
    
        <div class="intro-banner-wrap">
            <img src="assets/images/1.jpg" class="w-100 img-fluid">
        </div>
        
        </section>
        <!-- ========================= SECTION INTRO END// ========================= -->
        
        
        <!-- ========================= SECTION SPECIAL ========================= -->
        <section class="section-specials padding-y border-bottom">
        <div class="container">  
        <div class="row">
        <div class="col-md-4">  
                    <figure class="itemside">
                        <div class="aside">
                            <span class="icon-sm rounded-circle bg-primary">
                                <i class="fa fa-money-bill-alt white"></i>
                            </span>
                        </div>
                        <figcaption class="info">
                            <h6 class="title">
                                Giá Cả Hợp Lý</h6>
                            <p class="text-muted">Mang Lại Sản Phẩm, Gía Cả Hợp Lý Đến Tay Người Tiêu Dùng </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
            </div><!-- col // -->
            <div class="col-md-4">
                    <figure class="itemside">
                        <div class="aside">
                            <span class="icon-sm rounded-circle bg-danger">
                                <i class="fa fa-comment-dots white"></i>
                            </span>
                        </div>
                        <figcaption class="info">
                            <h6 class="title">Hỗ Trợ Khách Hàng 24/7 </h6>
                            <p class="text-muted">Với Châm Ngôn Khách Hàng Là Trên Hết </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
            </div><!-- col // -->
            <div class="col-md-4">
                    <figure class="itemside">
                        <div class="aside">
                            <span class="icon-sm rounded-circle bg-success">
                                <i class="fa fa-truck white"></i>
                            </span>
                        </div>
                        <figcaption class="info">
                            <h6 class="title">Vận Chuyển Nhanh Chóng</h6>
                            <p class="text-muted">Chúng tôi tin rằng dịch vụ này hữu ích cho xã hội nói chung... Người bán hàng bán được nhiều hơn, khách hàng mua sắm thoải mái hơn, và người giao hàng có thêm nhiều công việc và thu nhập xứng đáng. </p>
                        </figcaption>
                    </figure> <!-- iconbox // -->
            </div><!-- col // -->
        </div> <!-- row.// -->
        
        </div> <!-- container.// -->
        </section>
        <!-- ========================= SECTION SPECIAL END// ========================= -->
        
        